/* 	
	This is basic CSS code for a website with a header, footer, and 2 columns 
	The sidebar is on the left.
	The site is centered and 960px wide
*/



/* Basic Structure */

body {
	text-align: center;				/* This is a hack for older browsers to center the page */
}

#container {
	margin: 0 auto; 				/* This centers the page in modern browsers */
	text-align: left; 				/* This is a hack for older browsers to center the page */
	width: 100%; 					/* This sets our total page width */
}



#header {
    width: 100%;
    padding-bottom: 100px;
    float: right 
    						/* This sets the header to stretch the full page width */
}
.name {background-color: red; margin-left: 200px; color: white; margin-top: 50px; width: 100%; float:left; }

#navigation li {
    display: inline;
    				/* Make our navigation display in a line */
}

#content {
	float: right;					/* This causes the content to move to the right */
	width: 700px;					/* We need to set the width whenever we float an element */
}


#sidebar {
	float: left; 					/* This causes the sidebar to move to the left */
	width: 260px; 					/* We need to set the width whenever we float an element */
}


#footer {
	clear: both; 					/* This makes sure that the footer clears both the sidebar and content floats */
	width: 100%;					/* This sets the footer to stretch the full page width */
}


/* 
 * For Demonstration Only
 * This code is just for the purpose of the demonstration to hightlight things so that you can see them 
 */


body {
	background-color: #eee;
	color: white;
}
#container {
	background-color: blue; 		/* Set the background of the container to the same as the #content area */
}
#header {
	background-color: aqua;
	height: 100px;
}
#content {
	background-color: blue; 
}
#sidebar {
	background-color: green; 
}
#footer {
	background-color: black;
	width: 960px;
}

